.btn-transparent {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.btn-lg {
    font-size: 12px !important;
}

.btn-rectangle {
    background-color: #C00;
    background-repeat: no-repeat;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    color: white !important;
    font-weight: bold;
    font-size: 23px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
}

.modal-body-new-comment{
    border-top: 1px solid #dee2e6;;
}

.pointer{
    cursor: pointer;
}