<?php $this->headTitle('404 Not Found'); ?>

<h1>Oh, no!</h1>
<h2>Qué vergüenza.</h2>
<p>Nos encontramos con un error 404 Not Found.</p>
<p>
    Puede que estés buscando algo que no existe o se haya movido, regresar a <a href="/">Home</a>.
</p>
