<?php $this->headTitle(sprintf('%d %s', $this->status, $this->reason)); ?>

<h1>Oh, no!</h1>
<h2>Qué vergüenza.</h2>
<p>Nos encontramos con un error <?=$this->escapeHtml(sprintf('%d %s', $this->status, $this->reason))?>.</p>
<?php if ($this->status == 404) : ?>
    <p>
        Puede que estés buscando algo que no existe o se haya movido, regresar a <a href="/">Home</a>.
    </p>
<?php endif; ?>
