<?php
$this->headLink()
    ->prependStylesheet('https://use.fontawesome.com/releases/v5.13.0/css/all.css')
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    ->prependStylesheet($this->basePath('css/claro-blog.css'));
$this->inlineScript()
    ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
    ->prependFile('https://code.jquery.com/jquery-3.5.1.min.js')
    ->appendFile('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js')
    ->appendFile($this->basePath('js/claro-blog.js'));

?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="https://getlaminas.org/images/favicon/favicon.ico" />
    <?=$this->headMeta()?>
    <?=$this->headLink()?>
    <style>
        body { padding-top: 70px; }
        .app { min-height: 100vh; }
        .app-footer { padding-bottom: 1em; }
        .mezzio-green, h2 a, h2 a:hover { color: #009655; }
        .navbar-brand { padding: 0; }
        .navbar-light { background-color: white !important;}
    </style>
</head>
<body class="app">
    <div id="loader-wrapper">

        <div class="pace-progress"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <header class="app-header">
        <nav class="navbar navbar-expand-sm navbar-light fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand" href="<?=$this->url('home')?>">
                        <img id="logo-blog" src="<?=$this->basePath('/img/claro-logo.png');?>" alt="Claro Blog" height="56" />
                    </a>
                </div>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto navbar-principal">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="fa fa-book"></i> Inicio
                            </a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-user-label">
                                <i class="fa fa-user"></i> <span id="span-user"></span>
                            </a>
                        </li>
                        <li class="nav-item nav-user-action" id="nav-user-action" style="display: none;">
                            <a href="#" class="nav-link" id="">
                                <i class="fa fa-cogs"></i> <span id="span-user-action"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="app-content">
        <main class="container">
            <?=$this->content?>
        </main>
    </div>

    <div class="modal fade" id="modal-nueva-pub" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="color: white; background-color: #C00">
                    <h5 class="modal-title"><i class="fa fa-pencil-alt"></i> Nueva publicación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="autorPost">Autor</label>
                        <input type="text" class="form-control" id="autorPost" aria-describedby="autor" disabled>
                    </div>
                    <div class="form-group">
                        <label for="tituloPost">Título</label>
                        <input type="text" class="form-control" id="tituloPost" aria-describedby="titulo">
                    </div>

                    <div class="form-group">
                        <label for="autorPost">Descripción</label>
                        <textarea class="form-control" id="descripcionPost" maxlength="120" rows="3"></textarea>
                        <small id="descHelp" class="form-text text-muted">Describe tu publicación.</small>
                    </div>
                    <div class="form-group">
                        <label class="btn-transparent">
                            <span class="d-inline-flex text-decoration-none btn-rectangle btn-lg">
                            <i class="fas fa-images mr-2 fa-2x"></i>
                            <input type="file" name="img-nueva-pub" id="img-nueva-pub" style="display: none;">
                                Subir imagen</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-8 offset-2">
                            <img id="nueva-pub-img-cont" height="200"/>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
                    <button type="button" class="btn btn-danger" id="btn-send-pub">Publicar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-editar-pub" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="color: white; background-color: #C00">
                    <h5 class="modal-title"><i class="fa fa-pencil-alt"></i> Editar publicación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="autorPost">Autor</label>
                        <input type="text" class="form-control" id="autorPostEdit" aria-describedby="autor" disabled>
                    </div>
                    <div class="form-group">
                        <label for="tituloPostEdit">Título</label>
                        <input type="text" class="form-control" id="tituloPostEdit" aria-describedby="titulo">
                    </div>

                    <div class="form-group">
                        <label for="autorPost">Descripción</label>
                        <textarea class="form-control" id="descripcionPostEdit" maxlength="120" rows="3"></textarea>
                        <small id="descHelp" class="form-text text-muted">Describe tu publicación.</small>
                    </div>
                    <div class="form-group">
                        <label class="btn-transparent">
                            <span class="d-inline-flex text-decoration-none btn-rectangle btn-lg">
                            <i class="fas fa-images mr-2 fa-2x"></i>
                            <input type="file" name="img-edit-pub" id="img-edit-pub" style="display: none;">
                                Subir imagen</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-8 offset-2">
                            <img id="edit-pub-img-cont" height="200"/>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
                    <button type="button" class="btn btn-danger" id="btn-edit-pub">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" id="btn-edit-delete-pub">Eliminar publicación</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-login" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: white; background-color: #C00">
                    <h5 class="modal-title"><i class="fa fa-user"></i> Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userLogin">Usuario</label>
                        <input type="email" class="form-control" id="userLogin" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Nombre de usuario con el que se registró.</small>
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin">Contraseña</label>
                        <input type="password" class="form-control" id="passwordLogin">
                    </div>
                    <div class="form-group">
                        <small id="noAccountHep" class="form-text btn-link pointer nav-user-register">¿No tienes cuenta?</small>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="btn-login">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-register" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: white; background-color: #C00">
                    <h5 class="modal-title"><i class="fa fa-user"></i> Regístrate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userRegister">Usuario</label>
                        <input type="email" class="form-control" id="userRegister" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="passwordRegister">Contraseña</label>
                        <input type="password" class="form-control" id="passwordRegister">
                    </div>
                    <div class="form-group">
                        <label for="passwordRegisterRep">Repetir contraseña</label>
                        <input type="password" class="form-control" id="passwordRegisterRep">
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="btn-register">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="app-footer">
        <div class="container">
            <hr />
            <p>
                
                &copy; <?=date('Y')?> <a href="/">Claro Blog</a> by Johan Gamaliel.
            </p>
        </div>
    </footer>

    <?=$this->inlineScript()?>
</body>
</html>
