<?php $this->headTitle('Principal'); ?>

<div class="jumbotron">
    <h1>Welcome to <span class="mezzio-green">mezziosss <?= $this->data?></span></h1>
    <p>
        Congratulations! You have successfully installed the
        <a href="https://github.com/mezzio/mezzio-skeleton" target="_blank">mezzio skeleton application</a>.
        This skeleton can serve as a simple starting point for you to begin building your application.
    </p>
    <p>
        Mezzio builds on laminas-stratigility to provide a minimalist PSR-7 middleware framework for PHP.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            <a href="https://docs.mezzio.dev/mezzio/getting-started/features" target="_blank">
                <i class="fa fa-bolt"></i> Agile &amp; Lean
            </a>
        </h2>
        <p>
            Mezzio is fast, small and perfect for rapid application development, prototyping and api's.
            You decide how you extend it and choose the best packages from major framework or standalone projects.
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            <a href="https://github.com/laminas/laminas-diactoros" target="_blank">
                <i class="fa fa-exchange-alt"></i> HTTP Messages
            </a>
        </h2>
        <p>
            HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create
            HTTP request messages that are sent to a web server, which provides an HTTP response message.
            Server-side code receives an HTTP request message, and returns an HTTP response message.
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            <a href="https://github.com/laminas/laminas-stratigility" target="_blank">
                <i class="fa fa-dot-circle"></i> Middleware?
            </a>
        </h2>
        <p>
            Middleware is code that exists between the request and response, and which can take the incoming
            request, perform actions based on it, and either complete the response or pass delegation on to the
            next middleware in the queue. Your application is easily extended with custom middleware created by
            yourself or <a href="https://packagist.org/search/?q=middleware" target="_blank">others</a>.
        </p>
    </div>
</div>

<div class="row">
    
</div>