<?php $this->headTitle('Home'); ?>

<?php
$this->inlineScript()
    ->appendFile($this->basePath('js/home-page.js'));

?>

<div class="jumbotron">
    <h1>Publicaciones más recientes</h1>
</div>

<div class="row">
    
</div>

<div class="row" id="div-posts">
</div>

<div class="modal fade" id="modal-comentario-pub" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="color: white; background-color: #C00">
                <h5 class="modal-title"><i class="fa fa-pencil-alt"></i> Comentarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-comments">
                


            </div>
            <div class="modal-body modal-body-new-comment" id="newCommentDiv">
                <div class="form-group">
                    <label for="autorNewComment" id="autorNewComment"></label>
                    <textarea class="form-control" id="newCommentPost"></textarea>
                </div>
                <div class="form-group float-right">
                    <button type="button" class="btn btn-danger" id="btn-send-new-comment">Publicar comentario</button>
                </div>                       
            </div>
            <div class="modal-body modal-body-login" id="loginCommentDiv">
                <div class="form-group">
                    <a href="#" class="nav-user-action" id="autorNewComment">Para comentar inicia sesión aquí.</a>
                    
                </div>                     
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>